$background_main: #F5F5F5;
$padding_main: 10px;

@mixin message-footer() {
  padding: $padding_main / 2;
  background: $background_main;
  border: 1px solid black;
  font-size: 1.25rem;
  color: black;
  border-radius: 2px;
  max-width: 100%;
}

.application {
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  min-width: 325px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classPopup {
  background-color: black;
  height: 100%;
  opacity: 50%;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 3px solid #73AD21;
  margin: auto;
  // visibility: hidden;

}

.classPopupDetail {
// background-color: blue;
width: 50%;
height: 300px;
margin: auto;
z-index: 6000;
position:fixed;
top:25%;
left:25%;
// visibility: hidden;

}


.container {
  // padding: $padding_main;
  background-color: $background_main;
  width: 75%;
  min-height: 100px;
  margin: auto;
  box-shadow: 10px 3px 10px darkgray, darkgrey -3px 3px 10px, 3px -3px 10px
}
.page-header {
  height: 400px;
  // display: block; 
  // background-image:url("./dist/images/pictureTop.png");
  // background-size: cover;
  // background-position: center;
  // opacity: 0.65;
  // height: 350px;
  // max-width: 100%;
  //max-width: 100%;
  // min-height: 100px;
}
.classLogoFooter {
  padding-left: $padding_main;
  background-color: #4299ce;
  font-size: 0.8em;
  text-align: center;
}
.h3TextFilter {
  margin:0px;
  // padding: $padding_main;
  padding-top: $padding_main;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.1em;
  margin-left: 10%;

}
.classCategoryofChoose {
  font-size: 13px1;
  height: 34px;
  width: 80%;
  border-radius: 5%;
  margin-left: 10%;
}

.classPriceofChoose, 
.classTimeofChoose,
.classPlaceofChoose,
.classKindofChoose {
  width: 100%;
  background-color:#febb02;
}

.burger {
  visibility: hidden;
  width: 55px;
  height: 50px;
  position: absolute;
  top: 170px;
  left: 15px;
}

.burger_line {
  background-color: darkgray;
  width: 45px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8px;
}

.classLogoContact {
display: flex;
justify-content: center;
align-items: center;
position:absolute;
top: 10px;
right: 13%;
}

.box_image {
  background-size: cover;
  width: 100%;
  width: 100px;
  height: 100px;
  margin: auto;
  //cursor: url("..//index.html");
}

.slider {
  max-width: 100%;
  height: 400px;
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.contact {
  display: flex;
  width: 350px;
  height: 100%;
  // position: absolute;
  // top:0px;
  // right: 500px;
  // margin: auto;
}

.box_image_slider {
  width: calc(75% - 12px);
  height: 400px;
  position: absolute;
  top:0px;
  // left: 0px;
  // height: 100%;
  // width: 100%;
  visibility: hidden;
  opacity: 0.65;
}
.page-nav {
  position: relative;
  bottom: 60px;
  right: -45%;
  width: 55%;
  border-top: 3px solid darkgray;
}
.classItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: $padding_main;
}

.classLinkHref {
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 40px;
  color: black;
  font-weight: bold;
}

.classLinkHref:hover {
  color: darkorange;
  font-style: italic;
  // font-size: 1.3em;
  transition: 0.25s;
  cursor: pointer;

}
// powyżej wszystko dotyczy header
.main {
  padding: $padding_main;
  //background-color: blueviolet;
  max-width: 100%;
  min-height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.h2Text {
  margin: 20px 0px;
  // text-shadow: 4px 1px grey;
  font-size: 0.85em;
  padding-left: 20px;
  padding-right: 20px;
}

.info {
  padding: $padding_main;
  background-color: white;
  max-width: 100%;
  min-height: 100px;
  border: 1px darkgray solid;
  font-size: 1.5rem;

}

.text_contact {
  margin: auto;
  padding: $padding_main / 2;
  text-align: center;
  font-size: 1.2em;
  height: 100%;
}

.classLink {
  padding: $padding_main / 2;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

.textForImage {
  position: absolute;
  top: -50px;

}

.slider_left,
.slider_right {
  position: relative;
  //padding: $padding_main/2;
  //background-color: yellowgreen;
  width: calc((100% - 0px) / 2);
  //height: calc(0,67*width);
  height: 310px;
  top: 0px;
  left: 0px;

}

.sliderText_left {
  z-index: 1;
  font-size: 5em;
  color: white;
  position: absolute;
  top: calc((100% / 2) - 4rem);
  left: calc((100% - 5em) / 2);
  width: 150px;
  height: 50px;
  padding: $padding_main;
  text-align: center;
  margin: auto;
  visibility: hidden;
}

.page-footer {
  height: auto;
  max-width: calc(100% - 20px);
  padding: $padding_main;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  border-bottom: #968173 1px solid;
  //border-top: 3px solid darkgrey;
  //gap:10px;
  //grid-template-areas: "message" "advertasing" "footer_summmary" "footer_summary";
  //display: flex;
  //justify-content: center;
  //align-items: center;

}
.footerMain {
  // padding: $padding_main;
  // background-color:#f1bf0c;
  background-color: #4299ce;
  height: 255px;
  max-width: 100%;
  display: flex;
  
}
.footerPartLeftDetail,
.footerPartRightDetail {
display: block;
list-style: none;
font-size: 1.2em;
text-decoration: none;
color: black;
font-weight: bold;
padding: $padding_main/2;
 
}
.footerPartLeftDetail:hover,
.footerPartRightDetail:hover {
// font-style: bold;
font-size: 1.4em;
color: red;
transition: 0.25s;
cursor: pointer;

}
.footerPartLeft,
.footerPartRight {
display: block;
width: 300px;
height: 200px;
// margin: auto;
margin-top: 50px;
margin-bottom: auto;
}
.footerPartLeft {
  margin-left: 20%;
}

.centerOfInformation {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.main-footer {
  background-color: grey;
  min-height: 100px;
  //max-width: 150px;
  flex-grow: 1;
  justify-items: center;


}
.message-footer {
  background-color: lightgray;
  padding: $padding_main;
  max-width: calc(100% - $padding_main * 2);
  display: grid;
  //grid-template-rows: 1fr 1fr 1fr 6fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "textFooterH3 textFooterH3" "imieNazwisko eMail" "title title" "message message" "btnMessage btnMessage" "errorMessage errorMessage";
  gap: 10px;
  border: 1px solid darkgray;
}

.h3TextLeft {
  grid-area: textFooterH3;
  font-size: 1.2em;
  padding: $padding_main;
  margin: 0px;
  text-align: center;
  text-shadow: 1px 1px grey;
}

.classImieNazwisko {
  grid-area: imieNazwisko;
  @include message-footer();
}

.classEmail {
  grid-area: eMail;
  @include message-footer();
}

.classTitle {
  grid-area: title;
  @include message-footer();
}

.classMessage {
  grid-area: message;
  @include message-footer();
}

.classBtn_footer {
  grid-area: btnMessage;
  @include message-footer();
  background-color: black;
  color: ghostwhite;
  cursor: pointer;
  height: 40px;
}

.classErrorMessage {
  grid-area: errorMessage;
  @include message-footer();
  text-align: center;
  font-weight: bold;
  color: orangered;
  font-style: italic;
  visibility: hidden;
  margin: 0px;
}

.page-link-social {
  max-height: 100%;
  background-color: lightgray;
  display: block;
  border: 1px solid darkgray;
  border-left: 0px;
}

.classAdvertising {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: $padding_main;
  //display: grid;
  //grid-template-rows: 1fr;
  //grid-template-columns: 1fr 1fr;
  //gap: 10px;
  //height: 300px;
}

.h3TextRight {
  font-size: 20px;
  color: black;
  margin: 0px;
  padding: $padding_main*2;
  max-width: 100%;
  text-align: center;
  text-shadow: 1px 1px grey;
}


.classSocialLink {
  height: 40px;
  max-width: 100%;
  padding: 10px;
  margin-top: 15px;
  //background: maroon ;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url(/img/social_media_icon.png);
  //background-size: auto;
  //background-position: top -65px left -11px;
}

.classSocialLinkFacebook {
  height: 35px;
  width: 34px;
  padding: 10px;
  margin-top: -1px;
  background-image: url("./img/social_media_icon.png");
  background-size: auto;
  background-position: top -70px left -13px;
}

.classSocialLinkYouTube {
  height: 35px;
  width: 34px;
  padding: 10px;
  margin-top: -1px;
  background-image: url("./img/social_media_icon.png");
  background-size: auto;
  background-position: top -127px left -13px;
}

.classSocialLinkInstagram {
  height: 35px;
  width: 34px;
  padding: 10px;
  margin-top: -1px;
  background-image: url("./img/social_media_icon.png");
  background-size: auto;
  background-position: top -127px left -125px;
}

.classSocialLinkYouTwitter {
  height: 35px;
  width: 34px;
  padding: 10px;
  margin-top: -1px;
  background-image: url("./img/social_media_icon.png");
  background-size: auto;
  background-position: top -70px left -69px;
}

.box_image_advertising {
  height: 250px;
  width: calc(100% - 10px);
  position: absolute;
  visibility: hidden;
  //opacity: 0.5;
}

.classAdvertising_left,
.classAdvertising_right {
  position: relative;
  padding: $padding_main/2;
  //background-color: yellowgreen;
  width: calc((100% - 20px) / 2);
  height: 250px;
  top: 0px;
  left: 0px;
}

.advertisingText {
  z-index: 1;
  font-size: 2em;
  color: white;
  position: absolute;
  top: 75px;
  //left: 0px
  left: calc((100% - 5em) / 2);
  width: 150px;
  height: 50px;
  padding: $padding_main;
  text-align: center;
  margin: 0;
  visibility: hidden;
}

.footer_summary {
  // padding: $padding_main;
  background-color:rgb(255, 255, 255);

  max-width: 100%;
  height: 15px;
  color: black;
  font-size: 16px;
  height: 285px;
}

.box_image_ONas {
  float: left;
  max-width: 300px;
  padding: $padding_main/2;
  padding-right: $padding_main;
}

.mainONas, .mainPricing {
  padding: $padding_main;
  max-width: calc(100% - 40px);
  height: auto;
  // border: 1px darkgray solid;
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.classPricing {
  width: 55%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 10px 3px 10px darkgrey, darkgrey -3px 3px 10px, 3px -3px 10px;
}

.info_Pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/men-1979261_640.jpg");
  background-size: contain;
  background-position: center;

}

.pClassONas {
  margin: 0px;
  font-size: 0.8em;
  padding-right: 20px;
  padding-left: 20px;
  // border: solid gray 1px;
}

.classSocialContact{
display: block;
width: 250px;
height: 200px;
margin: auto;
margin-top: 50px;
}

.classContact {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;
  background-color: lightgray;
  border-radius: 2px;
}

.classContactOpening {
  //padding: $padding_main;
  font-size: 16px;
  min-width: 80%;
  border: 1px solid darkgray;
  text-shadow: 1px 1px grey;
  // width: 425px;
}
.classContactDetail
 {
  //padding: $padding_main;
  font-size: 16px;
  min-width: 80%;
  border: 1px solid darkgray;
  text-shadow: 1px 1px grey;
  width: 425px;
}


.pClassContactDetail {
  padding: $padding_main/2;
  padding-left: $padding_main;
  margin: 0px;
  font-size: 1.2em;
}

@media (max-width: 1700px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .container {
    width: calc(100% - 20px);
    box-shadow: none;

  }
  body {
    margin: 0;
  }
}

@media (max-width: 1250px) {
  .slider_left, .slider_right {
    height: 300px;
  }
  .box_image_slider {
    height: 300px;
  }

  .classAdvertising_right {
    display: none;

  }
  .classAdvertising_left {
    width: calc(100% - 20px);
    height: 320px;
    margin-top: 0px;
    //height: auto;
    //width: 500px;
    //height: 350px;
  }
  .box_image_advertising {
    width: calc(100% - 10px);
    height: 320px;
    //width: 100%;
    //height: 350px;
  }
  .classSocialLink {
    margin-top: 0px;
  }

}

@media (max-width: 1130px) {
  .classAdvertising_left {
    width: calc(100% - 20px);
    height: 320px;
    margin-top: -20px;
    //height: auto;
    //width: 500px;
    //height: 350px;
  }
}
@media (max-width: 1175px) {
  .slider_left, .slider_right {
    height: 275px;
  }
  .box_image_slider {
    height: 275px;
  }
}

@media (max-width: 1100px) {

  .slider_left, .slider_right {
    height: 250px;
  }
  .box_image_slider {
    height: 250px;
  }
  .box_image {
    width: 200px;
    height: 200px;
  }
  .contact {
    width: 200px;
    height: 200px;
  }
  .slider {
    width: calc(100% - 400px);
  }
  .page-footer {
    display: block; .box_image_advertising {
      //height: 275px;
      //width: 400px;
    }
  }
  .message-footer {
    border-bottom: 0px;
  }
  .page-link-social {
    border-left: 1px solid darkgray;;
  }
  .classContactDetail {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #F5F5F5;
    font-size: 18px;
  }
  .classContact {
    border: 1px solid darkgray;
    padding: $padding_main;
  }
}

@media (max-width: 1025px) {
  .container {
    background-color: $background_main;
  }
  .slider_left, .slider_right {
    height: 210px;
  }
  .box_image_slider {
    height: 210px;
  }
  .box_image {
    width: 200px;
    height: 200px;
  }
  .contact {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 975px) {
  .container {
    background-color: $background_main;
  }
  .slider_left {
    height: 300px;
    width: 100%;
  }
  .slider_right {
    display: none;

  }
  .box_image_slider {
    height: 300px;
    width: 100%;
  }
  .box_image {
    width: 200px;
    height: 200px;
  }
  .contact {
    width: 200px;
    height: 200px;
  }
  .classPricing {
    width: 60%;
  }
}

@media (max-width: 935px) {
  .container {
    background-color: $background_main;
  }

  .slider_left {
    height: 300px;
    width: 100%;
  }
  .slider {
    width: calc(100% - 400px);
  }
  //.text_contact {
  //  font-size: 15px;
  //}
  .box_image_slider {
    height: 300px;
    width: 100%;
  }
  .box_image {
    width: 200px;
    height: 200px;
  }
  .contact {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 900px) {
  .box_image_advertising {
    //width: 375px;
    height: 275px;
  }
  .classAdvertising_left, .classAdvertising_right {
    //width: 375px;
    height: 275px;
  }

  .classPricing {
    width: 65%;
  }
  .classAdvertising_right {
    top: -10px;
  }

}

@media (max-width: 850px) {
  .box_image_advertising {
    //width: 350px;
    height: 250px;
  }

  .classAdvertising_left, .classAdvertising_right {
    //width: 350px;
    height: 250px;
  }
  .slider_left {
    height: 300px;
    width: 100%;
  }
  .slider {
    width: calc(100% - 300px);
  }
  .text_contact {
    font-size: 17px;
  }
  .main {
    display: block;
  }
  .box_image_slider {
    height: 300px;
    width: 100%;
  }
  .box_image {
    width: 150px;
    height: 150px;
  }
  .contact {
    width: 150px;
    height: 150px;
  }
  .classPricing {
    width: 70%;
  }
}

@media (max-width: 775px) {
  .box_image_advertising {
    //width: 325px;
    //height: 200px;
  }

  .classAdvertising_left, .classAdvertising_right {
    //width: 325px;
    //height: 200px;
  }
}

@media (max-width: 725px) {
  .box_image_advertising {
    //width: 300px;
    //height: 165px;
  }

  .classAdvertising_left, .classAdvertising_right {
    //width: 300px;
    //height: 150px;
  }

  .classPricing {
    width: 100%;
  }
  //.burger {
  //  visibility: visible;
  //}

  .box_image_slider {
    height: 250px;

  }

  .slider_left {
    height: 250px;
  }
  .classItem {
    font-size: 14px;
  }

}

@media (max-width: 675px) {
  .main-header {
    flex-direction: column;
  }
  .classItem {
    visibility: hidden;
    display: block;
    position: absolute;
    left: 20px;
    top: 209px;
    background-color: grey;
    border: none;
    z-index: 1;
  }
  .burger {
    visibility: visible;
  }
  .message-footer {
    display: flex;
    flex-direction: column;
  }
  .message-footer input, textarea {
    margin-bottom: 10px;
  }
  .box_image_advertising {
    //height: 275px;
    //width: 400px;
  }
  .classAdvertising_left {
    height: 335px;
    width: calc(100% - 20px)
  }
  .classAdvertising_right {
    display: none;
  }
  .box_image_slider {
    height: 375px;
  }
  .slider_left {
    height: 375px;
  }
  .contact {
    display: none;
  }
  .slider {
    width: 100%;
  }
  .box_image {
    width: 200px;
    height: 200px;
  }
.box_image_advertising {
  height: 335px;
  }
  .classErrorMessage {
    margin-top: 5px;
  }
  .classBtn_footer {
    margin-top: 10px;
  }

}

@media (max-width: 575px) {
  .box_image_slider {
    height: 300px;
  }
  .classItem {
    left: 20px;
    top: 159px;
  }
  .slider_left {
    height: 300px;
  }
  .box_image {
    width: 150px;
    height: 150px;
  }
  .burger {
    top: 122px;
  }
}

@media (max-width: 525px) {
  .box_image_advertising {
    height: 275px;
  }
  .classAdvertising_left {
    height: 275px;

  }

  .box_image_slider {
    height: 275px;
  }

  .slider_left {
    height: 275px;
  }
  .box_image_ONas {
    display: none;
    //float: none;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //margin: auto;
  }

}

@media (max-width: 485px) {
  .classLogoFooter {
    font-size: 14px;
  }

}

@media (max-width: 475px) {
  .box_image_slider {
    height: 250px;
  }

  .slider_left {
    height: 250px;
  }
  .classLogoFooter {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .box_image_advertising {
    height: 250px;
  }
  .classAdvertising_left {
    height: 250px;
  }

  .box_image_slider {
    height: 225px;
  }
  .slider_left {
    height: 225px;
  }
}

.visible {
  visibility: visible;
}

.mainOffer {
  width: 100%;
  min-height: 330px;
  background:#febb02;
  display: flex;
  justify-content: center;

}

.classViewofProduct {
  background: grey;
  width: 100%;
  border: red 1px solid;
  display: flex;
  min-height: 330px;
  position: relative;

}
.classViewofProductDetail{
  display: block;
}
.classViewofProductMain{
width: 80%;
}
.classParametersofChoose {
  width: 20%;
  position: relative;
}

.classProductDetail {
  border: grey 1px solid;
  padding: $padding_main;
  display: flex;
  width: 80%;
  height: 200px;
}

.classProductImg {
  width: 170px;
  height: 170px;
}

.classMainProductInformation {
  display: flex;
  width: 100%;
}

.classImgPromotion {
  // visibility: hidden;
  text-align: center;
  font-style: italic;
  font-size: 1.0em;
  font-weight: bold;
  color: darkblue;
}

.classCategoryStyle {
 flex-grow: 1;
 height: 45px;
 text-align: center;
 font-size: 1.0em;
 font-weight: bold;
 font-style: italic;
 color:darkblue;
 margin: 0px;

}

.classInformationOfProductDetail 
{
  height: calc(100% - 5px);
  width: calc(100% - 20px);
  
  
}

.pclassInformationOfProductDetail {
  width: 100%;
  height: 100%;
  padding: $padding_main;
  background: darkkhaki;
  margin: 0px;
}

.pclassInformationOfProductDetail:hover {
background: $background_main;
height: 500px;
border: green 3px solid;
transition: 1s;
position: relative;
z-index: 2;
}

.classInformationOffer {
  display: block;
  width: 100%;
}

.classProductImgMain {
  margin: auto;
  width: 20%;
  text-align: center;
  //height: 100%;
}

.classBtnCategoryofChoose {
  position: absolute;
  right: 30px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 25px;
  line-height: 20px;
  font-size: 1.1em;
  border: 0;
  color: #fff;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.classBtnProduct {
  position: absolute;
  right:$padding_main;
  bottom: 0px;
  // -$padding_main/5;
  // right: -745px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 25px;
  line-height: 20px;
  font-size: 1.1em;
  border: 0;
  color: #fff;
  background-color: darkgoldenrod;
  margin-top: 10px;
  margin-bottom: 10px;
}

// Klasy dla formularza zamówienia

.classOrderForm {
  width: 40%;
  height: 300px;
  padding: $padding_main;
   display: block;
  background-color: blueviolet;
  margin: auto ;
}
.classImieNazwiskoOrderForm,
.classEmailOrderForm,
.classTelephoneOrderForm {
  padding: $padding_main;
  background: $background_main;
  border: 1px solid black;
  font-size: 1.25em;
  color: black;
  border-radius: 2px;
  width: 320px;
  margin: 5px;
}

.classCheckBox {
  padding: $padding_main;
  margin: 10px;
}

.classCheckBoxLebel {
margin: -10px;
padding: $padding_main/2;
height: 20px;
font-size: 20px;
}